*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: block;
    height: auto;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;
}
